@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kenyan";
  src: url("/fonts/kenyan/kenyan coffee bd.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Kenyan";
  src: url("/fonts/kenyan/kenyan coffee bd it.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Kenyan";
  src: url("/fonts/kenyan/kenyan coffee rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kenyan";
  src: url("/fonts/kenyan/kenyan coffee rg it.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

html,
body {
  font-family: "Roboto", "Kenyan", sans-serif;
}

/* GLITCH EFFECT */
.glitch-image {
  display: block;
 
  animation: glitch-opacity ease-in-out 5s infinite alternate,
    glitch-transform 5s steps(1, end) infinite alternate;
}

@keyframes glitch-opacity {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0.7;
  }
  4% {
    opacity: 0.6;
  }
  6% {
    opacity: 0.4;
  }
  8% {
    opacity: 0.7;
  }
  10% {
    opacity: 0.5;
  }
  12% {
    opacity: 0.3;
  }
  14% {
    opacity: 0.6;
  }
  16% {
    opacity: 0.2;
  }
  18% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.4;
  }
  22% {
    opacity: 0.6;
  }
  24% {
    opacity: 0.2;
  }
  26% {
    opacity: 0.4;
  }
  28% {
    opacity: 1;
  }
}
@keyframes glitch-transform {
  0% {
    transform: translate(0, 0);
  }
  2% {
    transform: translate(-10px, 5px);
  }
  4% {
    transform: translate(20px, -10px);
  }
  12% {
    transform: translate(25px, -20px);
  }
  14% {
    transform: translate(-20px, 10px);
  }
  16% {
    transform: translate(15px, -15px);
  }
  24% {
    transform: translate(20px, -15px);
  }
  26% {
    transform: translate(-15px, 10px);
  }
  28% {
    transform: translate(0, 0);
  }
}
